name: Deploy to ServerCore

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 185.76.15.44
          port: 22
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script_stop: true
          script: |
            /usr/local/bin/deploy-crmvisa
